* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunitoregular.woff");
}

@font-face {
    font-family: NunitoBold;
    src: url("../fonts/Nunitobold.woff");
}

body {
    font-family: Nunito, sans-serif;
    background: linear-gradient(to right, #FFFFFB 50%, #F8F8FA 50%);
}

.header {
    padding: 27px 0 27px 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;

}

.logo {
    text-align: center;
}

.main {
    padding: 112px 0 191px 0;

}

.main .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.registration {
    max-width: 496px;

}

.registration-title {
    color: #000;
    font-family: NunitoBold, sans-serif;
    font-size: 36px;
    font-style: normal;
    margin-bottom: 30px;
}

.registration-text {
    color: #636363;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 42px;
}

.registration-form-title {
    color: #C6C6C4;
    font-size: 16px;
    font-style: normal;
    line-height: 27px;
}


.form-input {
    border: none;
    border-bottom: 1px solid #C6C6C4;;
    outline: none;
    width: 452px;
    margin-bottom: 25px;
    color: #323232;
    font-family: NunitoBold, sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
}


.agree {
    margin-top: 5px;
    margin-bottom: 40px;

}

.agree .input {
    color: #636363;
    font-family: NunitoBold, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 27px;
}

span {
    margin-left: 10px;
}

.button-action {
    margin-left: 123px;
}


.button {
    border-radius: 40px;
    background: #DD3142;
    padding: 21px 68px 25px 68px;
    color: #FFF;
    width: 210px;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
    cursor: pointer;
    outline: none;
    border: 0;
    box-sizing: border-box;
    margin-bottom: 44px;
}

.registration-account {
    margin-left: 133px;
}

.registration-account a {
    color: #636363;
    font-family: NunitoBold, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 27px;
    text-decoration: none;
}

.registrationExtra {
    margin-left: 173px;
    display: none;
}

.registrationExtra a {
    color: #636363;
    font-family: NunitoBold, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 27px;
    text-decoration: none;

}


.main-image {
    position: relative;
}

.main-image .ellipse1 {
    position: absolute;
    top: 94px;
    right: 24px;
}


.main-image .ellipse2 {
    position: absolute;
    top: 132px;
    right: 206px;
}


.main-image .ellipse3 {
    position: absolute;
    top: 212px;
    right: 37px;
}


.main-image .rocket {
    position: absolute;
    top: -69px;
    right: 37px;
}


.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background: #000000c9;
    z-index: 1000;
    display: block;

}

.popup {
    position: fixed;
    background-color: #FFFFFB;
    border: 1px solid black;
    border-radius: 20px;
    padding: 80px 50px 50px 50px;
    text-align: center;
    color: #000;
    font-family: NunitoBold, sans-serif;
    font-size: 18px;
    font-style: normal;
    top: 300px;
    right: 650px;
    display: block;
    align-items: center;
}

.button-pop {
    margin-top: 50px;
}

.popup-container {
    display: none;
}


.popup-container.open {
    display: flex;
    align-items: center;
}

.error-input {
    width: 452px;
    color: red;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 10px;
    display: none;
}

.error-password {
    width: 452px;
    color: red;
    font-size: 16px;
    margin-bottom: 15px;
    display: none;
}

.error-user {
    width: 452px;
    color: red;
    font-size: 16px;
    margin-bottom: 15px;
    display: none;
}

.error-password {
    width: 452px;
    color: red;
    font-size: 16px;
    margin-bottom: 15px;
    display: none;
}






